<%= title 'About The Author' %>
<div class="container author">
<div class="row">
<div class="column col-xs-7">
<h2><%= @user.name %></h2>
<hr class="separator">
<h5>Hey there! I am Himanshu, Founder and Chief Architect of The Designable LLC. I am a *nix user since 2005 and a technology enthusiast. By day I am working as a code-ninja. I love coding in PHP, Rails, phantom JS and ember. I worked on various projects. When I am not working on my Mac, either i am playing PS3 or hanging out with my friends or you can find me typing 140 charaacter on twitter or dribbling or chattering on google plus. </h5> 
</div>

<div class="column col-xs-5">

<%= image_tag (@user.avatar.url(:thumb)), class: 'round' %>
<h2> Connect with me!</h2>
<div class="row">
<div class="column col-xs-12">
	
</div>

</div>
</div>
</div>
	
</div>

