<%= title 'faq' %>
<div class="container">
<div class="row">
	<div class="col-xs-3 col-md-9-push-3">
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam velit quasi, eveniet eos doloremque nesciunt aliquid praesentium ut, incidunt voluptatibus laudantium maxime dolorem delectus debitis ab odio, a sequi facilis!Velit nihil asperiores, dignissimos placeat itaque. Et ut commodi odit ullam ipsa in, aut aspernatur enim quos? Nobis hic rerum ullam, libero natus animi reiciendis itaque cumque explicabo a, eaque.
		</p>
	</div>
	<div class="col-xs-9 col-md-9-pull-3">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam velit quasi, eveniet eos doloremque nesciunt aliquid praesentium ut, incidunt voluptatibus laudantium maxime dolorem delectus debitis ab odio, a sequi facilis!Velit nihil asperiores, dignissimos placeat itaque. Et ut commodi odit ullam ipsa in, aut aspernatur enim quos? Nobis hic rerum ullam, libero natus animi reiciendis itaque cumque explicabo a, eaque.</p>
		
	</div>
</div>
</div>