<%= title 'plans and pricing' %>

<div id="pnp">
	<div class="newproducts">
	<div class="container-fluid">
		<div class="row">
			<h1 class="titles">Products Coming Soon</h1>
			<div id="upcoming">
				<div class="item">Barracuda Helpdesk&#8482;
					<p>The Revolutionary Helpdesk</p>
				</div>
				<div class="item">PhotoDesk&#8482;
				<p>The PhotoSharing Network</p>
				</div>
				<div class="item">GetHired&#8482;
				<p>Hosted JobPortal Solution For Companies</p>
				</div>
				<div class="item">CodeGlue&#8482;
				<p>Developers Network</p>
				</div>

			</div>
		</div>
	</div>
</div>
	<div class="container">
		<div class="row">
			<div class="col-xs-4">
				<div class="panel panel-success pricing">
					<div class="panel-heading">Panel heading</div>
					  <div class="panel-body">
					    <p>Panel content</p>
					    <p>Panel content</p>
					  </div>
				  <div class="panel-footer"><p class="select"><%= link_to 'Select', root_path, class: "btn btn-success" %></p></div>
				</div>
			</div>
			<div class="col-xs-4">
				<div class="panel panel-success pricing">
					<div class="panel-heading">Panel heading</div>
					  <div class="panel-body">
					    <p>Panel content</p>
					    <p>Panel content</p>
					  </div>
				  <div class="panel-footer"><p class="select"><%= link_to 'Select', root_path, class: "btn btn-success" %></p></div>
				</div>
			</div>
			<div class="col-xs-4">
				<div class="panel panel-success pricing">
					<div class="panel-heading">Panel heading</div>
					  <div class="panel-body">
					    <p>Panel content</p>
					  </div>
				  <div class="panel-footer"><p class="select"><%= link_to 'Select', root_path, class: "btn btn-success" %></p></div>
				</div>
			</div>
		</div>
		</div>
	</div>
</div>