<%= title 'plans and pricing' %>
<div id="pnp">
	<div class="container">
		<div class="row">
			<div class="col-xs-4">
				<div class="panel panel-success pricing">
					<div class="panel-heading">Panel heading</div>
					  <div class="panel-body">
					    <p>Panel content</p>
					    <p>Panel content</p>
					  </div>
				  <div class="panel-footer"><p class="select"><%= link_to 'Select', root_path, class: "btn btn-success" %></p></div>
				</div>
			</div>
			<div class="col-xs-4">
				<div class="panel panel-success pricing">
					<div class="panel-heading">Panel heading</div>
					  <div class="panel-body">
					    <p>Panel content</p>
					    <p>Panel content</p>
					  </div>
				  <div class="panel-footer"><p class="select"><%= link_to 'Select', root_path, class: "btn btn-success" %></p></div>
				</div>
			</div>
			<div class="col-xs-4">
				<div class="panel panel-success pricing">
					<div class="panel-heading">Panel heading</div>
					  <div class="panel-body">
					    <p>Panel content</p>
					  </div>
				  <div class="panel-footer"><p class="select"><%= link_to 'Select', root_path, class: "btn btn-success" %></p></div>
				</div>
			</div>
		</div>
		</div>
	</div>
</div>