<%= title 'The Company' %>
<div id="company">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12">
				<div id="carousel" class="owl-carousel owl-theme">
					<div class="item">	<h1> Oct, 2014</h1>
					<p>The idea was evolved to make a platform to make everything needed available for a developer at one place </p></div>
					<div class="item"><h1>March, 2015</h1>
						<p>The chief architect laid down the theme of damn awesome fetaure rich site</p></div>
					<div class="item"><h1>July, 2015</h1>
						<p>First phase of website finally completed.</p></div>
				</div>
			</div>
		</div>
	</div>
</div>