<%= title 'Tour' %>
<div id="tour">
	<div class="container">
		<div class="row">
			<div class="col-xs-8 col-xs-offset-2 embeds">
				<span id="intro"><p></p></span>
					<div class="embed-responsive embed-responsive-16by9"><%= content_tag(:iframe, nil, src: "//www.youtube.com/embed/#{"cn1yG6jyTAM"}", class: "embed-responsive-item") %></div>			
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-xs-8"></div>
		</div>
	</div>
</div>
