.clients {
	background: #EB7260;
	margin: 50px 0 50px 0;
	a{
		text-decoration: none;
		font-weight: bold;
		color: #fff;
	}

	img{
		border: 5px solid #69D2E7;
		border-radius: 2px;
	}

}

#techs{
	text-align: center;
	margin-bottom: 50px;
}

#upcoming{
	background: #69D2E7;
.item{
	padding-top: 20%;
	color: #fff;
	font-weight: bold;
	font-size: 35px;
}
}