		/*
		* This is a manifest file that'll be compiled into application.css, which will include all the files
		* listed below.
		*
		* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
		* or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
		*
		* You're free to add application-wide styles to this file and they'll appear at the bottom of the
		* compiled file so the styles you add here take precedence over styles defined in any styles
		* defined in the other CSS/SCSS files in this directory. It is generally better to create a new
		* file per style scope.
		*
		*= require font-awesome
		*= require owl.carousel
		*= require owl.theme
		*= require_tree .
		*= require_self
		*/
		
		@import "bootstrap-sprockets";
		@import "bootstrap";
		@import "client";
		@import "galleries";

		html, body, #container, #container-fluid {	
		height: 100%;	
		}


		body > .container, .container-fluid{
			height: 100%;
		}
		
		html, body, li, a, p, h1, h2, h3, h4 {
		font-family: 'Raleway', sans-serif;
		}
		.navbar  {
		position: fixed;
		border-radius: 0;
		border: none;
		width: 100%;
		z-index: 1;
		}
		
		.navbar-right {
		height: 100%;
		background: #69D2E7;
		padding-right: -40px;
		li{
		text-align: center;
		font-weight: bold;
		height: 100%;
		}
		}

		.navbar-inverse {
		border-color: #fff;
		background: #69D2E7;
		}
		
		.navbar-inverse .navbar-nav > li > a {
		color: #FFF;
		}
		
		.navbar-brand img{
		margin-top: -7px;
		height: 40px; 
		width: 200px;
		}

		.hero-unit {
			background: url('tree-in-night.jpg') center bottom no-repeat;
			width: 100%;
			height: 600px;
			box-sizing: border-box;
			opacity: 0.4;

		}

		.hero-text {
			text-align: center;
			top: -350px;
			position: relative;
			a{
			font-weight: bold;
		}
		}
	 
		#content {
			  min-height: 100%;
			  top: 30px;
			  height: auto !important;
			  height: 100%;
			  margin: 0 auto -260px;
			  padding: 50px 0 260px;
		}

		.links, .social, .newsletter, .copyright, .community{
			padding-top: 20px;
			ul{
				font-weight: bold;
			}
			li {
				list-style: none;
				text-align: center;
			}
			i{
				text-decoration: none;
				color: #EB7260;
			}
			i.fa-heart {
				color: #E41B17;
			}
			i.fa-coffee {
				color: #D89740;
			}
		}


		.footer-sns{
			list-style: none;
			text-align: center;
			color: #fff;
			font-weight: bold;
			text-decoration: none;
		}

		.navbar-btn {
			text-align: center;
		}

		.submit {
			background: #EB7260
		}

		.sidein {
			top: 50%;
			font-weight: bold;
			position: fixed;
			margin-left: -10px;
			z-index: 19999;
			border: none;
			border-radius: 3px;
		}

		.sideout {
			top: 50%;
			font-weight: bold;
			transform: rotate(90deg);
			position: fixed;
			margin-left: -26px;
			z-index: 19999;
			border: none;
			border-radius: 3px;
		}

		// font-awesome icon color

		#blog {
			text-align: center;
			font-weight: bold;
			text-decoration: none;
		}

		#post{
			text-align: center;
		}
		.profile{
			padding:60px 0 60px 0;
		}


		.round {
			height: 150px;
			width: 150px;
			border-radius: 50%;
			border: 5px solid #EB7260;
			color: #EB7260;
		}

		#notice_wrap {
			position: absolute;
			z-index: 999;
			width: 100%;
			top:0;
		.notice, .alert{
			font-family: 'Raleway', sans-serif;
			text-align: center;
			font-weight: bold;
			padding-top: 15px;
			color: #fff;
			height: 50px;
			margin: 0;
			letter-spacing: 0.1em;
			background: rgba(205, 0, 0, 0.6);
			}
		}
hr.separator {
	 padding: 0; 
	 border: none; 
	 width: 450px;
	 border-top: medium double #69D2E7; 
	 color: #69D2E7; 
	 text-align: center;
}
hr.separator::after{
	content: "•"; 
	display: inline-block; 
	position: relative; 
	top: -0.7em; 
	font-size: 3.5em; 
	padding: 0 0.25em; 
	background: #fff;
	color: #6DC1A1;
}

.editor {
	padding: 50px 0 50px 0;
}

.tags {
	color: #EB7260;
	font-weight: bold;
	text-decoration: none;
}
#footer  {
			width: 100%;
			clear: both;
			background: #0C090A;
			height: 260px;
		}

#typeText{
	color: #EB7260;
	font-size: 30px;
	font-weight: bold;
	width: auto;
	text-shadow: 5px 5px 5px #fff;
}

.typed-cursor{
   display: inline-block;
   color: #EB7260;
   font-size: 30px;
   font-weight: bold;
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.navbar-inverse .navbar-nav > .active > a{
	background-color: #EB7260;
}

.navbar-inverse .navbar-nav > .active > a:hover{
	background-color: #EB7260;
}