#carousel{
    width: 100%;
    height: auto;
    background-color: #EB7260;

}

.item{
	text-align: center;
	height: 350px;
}
.item h1{
	font-weight: bold;	
	font-size: 40px;
	color: #fff;
	padding-top: 175px;	
}

.item p{
	font-size: 20px;
	color: #fff;
	font-weight: bold;
}