// Place all the styles related to the Galleries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#gallery{
	margin-top: 60px;
}

.scaled{
	transition: all .2s ease-in-out;
	margin-top: 20px;
}

.scaled:hover{
	transform: scale(1.1);
}

