// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#company {
		margin: 50px 0 50px 0;
}

.description {
	font-size: 18px;
	padding-top: 50px;
	text-align: center;
	.brand-name{
		color: #69D2E7;
		font-weight: bold;
		text-decoration: none;
	}
}		

#team{
	padding: 50px 0 50px 0;
	text-align: center;
.panel{
	text-align: center;
	.user-image{
		padding-top: 20px;
	}
	.panel-heading{
		text-decoration: none;
		font-weight: bold;
		a{
			color: #EB7260;
			font-weight: bold;
		
		}
	}
	.panel-body {
		color: #69D2E7;
		font-weight: bold;	
	}
}
}

.titles{
	text-align: center; 
	color: #69D2E7;
	font-weight: bold;
	text-shadow: 5px 10px 5px #C0C0C0;
}

.postbag {
		text-align: center;
		padding-bottom: 50px;
		} 



#pnp{
	margin-top: 50px;
	text-align: center;
	.panel-heading{
		font-weight: bold;
	}
	}

.select a{
		font-weight: bold;
	}	


.pricing{
	transition: all .2s ease-in-out;
	margin-top: 20px;
}

.pricing:hover{
	transform: scale(1.1);
}

.hcarousel {
	padding-top: 30px;
	height: 200px;
}

#tour{
	background: #EB7260;
	
}

.embeds{
	text-align: center;
}

#intro{
	color: #fff;
	font-size: 30px;
	font-weight: bold;
	width: auto;
	text-align: center;
}

.dtbox {
	border: 1px #000;
	background: rgb(58, 87, 149);
	color: #fff;
	width: 60px;
	height: 60px;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}

.hpostwrap {
	border: solid 5px #f0f0f0;
	background: rgba(246, 244, 221, 0.1); 
}