// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.connect {
		font-weight: bold;
		color: #EB7260;
		margin: 0 3px 0 3px;
}
.author {
	padding: 60px 0 60px 0;

}