// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.connect {
		font-weight: bold;
		color: #EB7260;
		margin: 0 3px 0 3px;
}
.author {
	padding: 60px 0 60px 0;

}
#site-forms{
	margin: 0px auto;
	background: #fff;
	width: 400px;
	height: auto;
	padding: 40px;
	color: #000;
	border-radius: 5px;
		a{
		font-weight: bold;
		padding: 30px 0;
		text-decoration: none;
	}
	h2, p, .form-actions{
		text-align: center;
	}
}		

#prepgs{
	padding: 50px 0;
	background: #298EEA;
.pgslg{
		text-align: center;
	}

.form-buttons{
	width: 100%;
	font-weight: bold;
	height: 40px;
}
}